// $g-color-blue: #01addf;
// $g-color-lightblue: lighten($g-color-blue, 10%);
// $g-color-darkblue: darken($g-color-blue, 10%);
// $g-color-green: #6abb4f;
// $g-color-lightgreen: lighten($g-color-green, 10%);
// $g-color-darkgreen: darken($g-color-green, 10%);
// $g-color-yellow: #fec524;
// $g-color-lightyellow: lighten($g-color-yellow, 10%);
// $g-color-darkyellow: darken($g-color-yellow, 10%);
// $g-color-red: #f34833;
// $g-color-lightred: lighten($g-color-red, 10%);
// $g-color-darkred: darken($g-color-red, 10%);
// $g-color-black: #1a1f22;
// $g-color-lightBlack: lighten($g-color-black, 10%);
// $g-color-extraLightBlack: lighten($g-color-black, 20%);
// $g-color-silver: lighten($g-color-black, 30%);
// $g-color-lightSilver: lighten($g-color-black, 40%);
// $g-color-extraLightSilver: lighten($g-color-black, 50%);
// $g-color-gray: lighten($g-color-black, 60%);
// $g-color-lightGray: lighten($g-color-black, 70%);
// $g-color-extraLightGray: lighten($g-color-black, 80%);
$theme-color-main: #ff8598;
$theme-color-main-light: #ffc0a9;
$theme-color-sub: #7d8a2e;
$theme-color-sub-light: #c9d787;
