<div class="ui-site">
  <aside>
    <div class="tab-bar">
      <h1 class="tab-title tab-title--on">事项</h1>
      <h1 class="tab-title">组员</h1>
    </div>
    <div class="tab-container">
      <div class="tab">
        <div class="issue-container">
          <div class="issue-box"
               draggable="true">
            <h5>增加账套名称点击触发切换账套功能</h5>
            <h6>@Doge 发布于 2017.06.01</h6>
          </div>
          <div class="issue-box"
               draggable="true">
            <h5>行为检测，前后端埋点统计用户使用行为</h5>
            <h6>@Kitty 发布于 2017.06.02</h6>
          </div>
        </div>
      </div>

      <div class="tab">

      </div>
    </div>
  </aside>

  <section>
    <timeline-panel></timeline-panel>
  </section>
</div>