@import "common";

aside {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

// ------------------------
.tab-bar {
  display: flex;
}

.tab-title {
  @include anime;

  flex-grow: 1;
  text-align: center;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  &--on {
    border-color: orange;
  }

  &:hover {
    border-color: lighten(orange, 30%);
  }
}

.tab-container {
  flex-grow: 1;
}
