@import "common";

.span {
  position: absolute;
  left: 0;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: 300ms;

  &:hover {
    @include shadow-dp-1;

    transform: translateY(-3px);

    .span-expander {
      opacity: 1;
    }
  }
}

.span-title {
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.span-expander {
  @include anime;

  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
  cursor: ew-resize;
  z-index: 1;

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }
}

.span-red {
  background-color: #f99;
}

.span-yellow {
  background-color: #ebff99;
}

.span-green {
  background-color: #99ffc2;
}

.span-blue {
  background-color: #99c2ff;
}

.span-purple {
  background-color: #eb99ff;
}
