<div :class="spanClass"
     :style="spanStyle">
  <div class="span-title"
       draggable="true"
       @drag="dragMove($event)"
       @dragstart="dragStart($event)"
       @dragend="dragEnd($event)">
    <!--{{'(' + issue.duration + ') ' + issue.start.format('MM-DD HH:00:00')}}-->
    {{issue.title}}
  </div>

  <div class="span-expander span-expander-left"
       draggable="true"
       @drag="expandMove($event, 'backward')"
       @dragstart="expandStart($event)"
       @dragend="expandEnd($event)">&lt;</div>

  <div class="span-expander span-expander-right"
       draggable="true"
       @drag="expandMove($event, 'forward')"
       @dragstart="expandStart($event)"
       @dragend="expandEnd($event)">&gt;</div>
</div>