@import "common";

.panel {
  width: 100%;
}

.table-row {
  display: flex;
}

.col-label {
  width: 100px;
  line-height: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.col-content {
  flex-grow: 1;
}

.scales {
  display: flex;
}

.scale-span {
  position: relative;
  flex-grow: 1;
  height: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.scale-day {
  flex-grow: 1;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}

.scale-span:last-child {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
    transform: translateX(100%) translateY(-50%);
  }
}
