<div class="ui-panel panel">
  <header>
    <h1>时间线</h1>
  </header>

  <section>
    <div class="table"
         id="timeTable">
      <div class="table-row">
        <div class="table-col col-label"></div>
        <div class="table-col col-content">
          <div class="scales">
            <div class="scale-day"
                 v-for="node in timeline.timeNodes">{{node}}</div>
          </div>
          <div class="scales">
            <div class="scale-span"
                 v-for="span in timeline.span"></div>
          </div>
        </div>
      </div>

      <div class="table-row"
           v-for="member in members">
        <div class="table-col col-label">{{member.name}}</div>
        <div class="table-col col-content">
          <member-span :key="member._key"
                       :member="member"></member-span>
        </div>
      </div>

    </div>

    <div class="garbage"
         :class="{'garbage--highlight': isDragOverBin}"
         @dragover="intoTheBin($event)"
         @dragleave="outTheBin($event)"
         @drop="toss($event)">
      <i class="bin fi flaticon-garbage"></i>
    </div>

  </section>
</div>